
/* FAQ */

h1 {
    font-size: clamp(var(--fs-3xl), 5vw, var(--fs-4xl));
    text-align: center;
}

h1 span {
    color: var(--clr-primary);
}

.faq-hero p {
    font-size: var(--fs-md);
    color: var(--text-secondary);
    font-weight: var(--fw-medium);
    text-align: center;
    margin-top: 1rem;
}


/* FAQ Types */

.faq-container section:not(:last-child) {
    margin-bottom: 2rem;
}

.faq-container h2 {
    font-size: var(--fs-xs);
    color: var(--clr-primary);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.faq-item-container {
    border: 1px solid var(--clr-border);
    border-radius: 1rem;
    width: 100%;
    background-color: #fff;
}

.faq-item:not(:last-child) {
    border-bottom: 1px solid var(--clr-border);
}

.faq-question {
    all: unset;
    display: block;
    box-sizing: border-box;
    position: relative;
    font-family: var(--ff-heading);
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    color: var(--text-primary);
    font-weight: var(--fw-medium);
}

.faq-question::after {
    content: '';
    position: absolute;
    right: 1rem;      
    top: 50%;       
    transform: translateY(-50%) rotate(45deg); 
    width: 5px;
    height: 5px;
    border-right: 2px solid var(--text-primary);
    border-bottom: 2px solid var(--text-primary);
    transition: transform 0.3s ease;
}

.faq-question[aria-expanded="true"]::after {
    transform: translateY(-50%) rotate(-135deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-answer p {
    color: var(--text-secondary);
    font-size: var(--fs-xs);
    font-weight: var(--fw-medium);
    padding-bottom: 1rem;
}


@media (max-width:425px) {

    .faq-question {
        width: 95%;
    }

    .faq-question::after {
        right: 0rem;      
    }

}






