
h1 {
    font-size: var(--fs-4xl);
    text-align: center;
    margin-bottom: 1rem;
}

h1 span {
    color: var(--clr-primary);
}

.how-hero {
    width: 100%;
}

.how-hero p {
    text-align: center;
    color: var(--text-secondary);
    font-weight: var(--fw-medium);
    font-size: var(--fs-md);
    max-width: 70%;
    margin: 0 auto;
}

/* Card */

.steps-container {
    max-width: 36rem;
}

.step {
    display: flex;
    gap: 1.25rem;
    align-items: flex-start;
    position: relative;
}

.step:not(:last-child) .img-container {
    position: relative;
}

.step:not(:last-child) .img-container::after {
    content: '';
    position: absolute;     
    left: 49%;  
    top: 94%;    
    height: 100px;
    border-right: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
    transition: transform 0.3s ease;
}


.step:not(:last-child) {
    margin-bottom: 2rem;
}

.step img {
    width: 64px;
    height: auto;
    border: 1px solid var(--clr-border);
    border-radius: 1rem;
}


.step-info span{
    font-size: var(--fs-2xs);
    margin-bottom: 4px;
    color: var(--clr-primary);
    background-color: var(--clr-primary-bg);
    padding: .25rem .5rem;
    border-radius: 1rem;
    font-weight: var(--fw-semi-bold);
}


h2 {
    font-size: var(--fs-md);
    margin-bottom: 4px;

}


.step-info p{
    font-size: var(--fs-xs);
    color: var(--text-secondary);
    font-weight: var(--fw-regular);
    line-height: 1.625;
}