# Ignore Python cache and editor settings
__pycache__*/
.vscode

# Ignore everything in downloads/ except .gitkeep
downloads/*
!downloads/.gitkeep

# Ignore virtual environment
venv/
.venv/

# Ignore local secrets/env files
.env
.env.*
cookies.txt
*.cookies.txt