<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png')}}">
    <title>{% block title %} Playlist2Mp3 {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toast.css') }}">



    {% block head_extra %} {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">


    <!-- Before </body> -->
    <script src="{{ url_for('static', filename='js/toast.js') }}"></script>

</head>

<body>
    <div class="page-container">
        <header>
            <div class="logo-container">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Playlist2Mp3 Logo">
                    <span class="logo-text">Playlist2Mp3</span>
                </a>
            </div>
            <nav class="nav">
                <button class="nav-toggle" aria-label="Toggle Menu">
                    ☰
                </button>
                <ul class="nav-menu">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('how_it_works') }}">How It Works</a></li>
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
        </header>
        <!-- Main Content Here -->
        <main>



            {% block content%} {% endblock %}
        </main>
        <footer>
            <p>© 2026 Playlist2Mp3 • Devloped by <a href="https://github.com/kdfarrell" target="_blank">Darius</a></p>
        </footer>
    </div>


    <script>
        const toggle = document.querySelector(".nav-toggle");
        const menu = document.querySelector(".nav-menu");

        toggle.addEventListener("click", () => {
            menu.classList.toggle("active");
        });
    </script>
    {% block scripts %} {% endblock %}
</body>

</html>