<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Playlist2Mp3 {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css')}}">

    {% block head_extra %} {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="page-container">
        <header>
            <div class="logo-container">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Playlist2Mp3 Logo">
                    <span class="logo-text">Playlist2Mp3</span>
                </a>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('how_it_works') }}">How It Works</a></li>
                    <li><a href="{{ url_for('faq') }}">FAQ</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </nav>
        </header>
        <!-- Main Content Here -->
        <main>
            {% block content%} {% endblock %}
        </main>
        <footer>
            <p>© 2026 Playlist2Mp3 • Devloped by <a href="https://github.com/kdfarrell" target="_blank">Darius</a></p>
        </footer>
    </div>
</body>

</html>