{% extends "base.html" %}

{% block title %}Playlist2Mp3 | Home {% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}

<section class="home-hero">
    <div>
        <img src="{{ url_for('static', filename='images/index/music-note-transparent.svg') }}" alt="Music note icon">
        <p>YouTube to MP3 Converter</p>
    </div>
    <h1>Extract audio from <span>any YouTube video</span></h1>
    <p>Paste a video or playlist link and download high-quality MP3 files instantly.</p>
</section>

<form action="/fetch_info" autocomplete="off" method="GET">
    <div>
        <img src="{{ url_for('static', filename='images/index/search-transparent.svg') }}" alt="Search icon">
        <input type="url" name="url" placeholder="Paste a YouTube URL here..." required>
    </div>
    <button type="submit">Load URL</button>
</form>

{% if video_info %}
<section class="video-container">

    {% if video_info.type == "playlist" %}
    <header class="playlist-header">
        <div class="playlist-info">
            <h2 class="playlist-title">
                <img src="{{ url_for('static', filename='images/index/playlist-icon.svg') }}" alt="">
                {{ video_info.title }}
            </h2>

            <p class="playlist-meta">{{ video_info.count }} videos</p>
        </div>

        <a href="{{ url_for('download', url=video_info.url, video_type=video_info.type) }}" class="btn">
            Download
        </a>
    </header>

    <div class="videos">
        {% for video in video_info.videos %}
        <div class="video">
            <div class="video-thumbnail">
                <div class="thumbnail-container">
                    <img src="{{ video.thumbnail }}" alt="YouTube Video Thumbnail">
                </div>
                <div class="duration">
                    <img src="{{ url_for('static', filename='images/index/clock-icon.svg') }}" alt="Clock icon">
                    <span>{{ video.duration }}</span>
                </div>
            </div>

            <div class="video-info">          
                <h3>{{ video.title }}</h3>
                <div class="channel">
                    <img src="{{ url_for('static', filename='images/index/profile-gray.svg') }}" alt="Profile icon">
                    <p>{{ video.uploader }}</p>
                </div>            
            </div>
        </div>
        {% endfor %}
    </div>

    {% elif video_info.type == "video" %}
    <header class="playlist-header">
        <div class="playlist-info">
            <h2 class="playlist-title">
                <img src="{{ url_for('static', filename='images/index/single-video-icon.svg') }}" alt="Playlist icon">
                {{ video_info.title }}
            </h2>
        </div>
        <a href="{{ url_for('download', url=video_info.url, video_type=video_info.type) }}" class="btn">
            Download
        </a>
    </header>

    <div class="videos">
        <div class="video">
            <div class="video-thumbnail">
                <div class="thumbnail-container">
                    <img src="{{ video_info.thumbnail }}" alt="YouTube Video Thumbnail">
                </div>
                <div class="duration">
                    <img src="{{ url_for('static', filename='images/index/clock-icon.svg') }}" alt="Clock icon">
                    <span>{{ video_info.duration }}</span>
                </div>
            </div>

            <div class="video-info">
                <h3>{{ video_info.title }}</h3>
                <div class="channel">
                    <img src="{{ url_for('static', filename='images/index/profile-gray.svg') }}" alt="Profile icon">
                    <p>{{ video_info.uploader }}</p>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
</section>
{% endif %}

<section class="summary">
    <div class="card">
        <img src="{{ url_for('static', filename='images/index/fast-grey.svg') }}" alt="Fast Icon">
        <h4>Lightning Fast</h4>
        <p>Convert in seconds</p>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/index/shield-gray.svg') }}" alt="Fast Icon">
        <h4>No Sign-up</h4>
        <p>Completely free to use</p>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/index/headphones-gray.svg') }}" alt="Fast Icon">
        <h4>High Quality</h4>
        <p>Up to 320kbps MP3</p>
    </div>
</section>

{% endblock %}